html,body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* .pseudo::first-letter {
    font-weight: bold;
    font-size: 32px;
}
.pseudo::first-line {
    font-weight: bold;
    font-size: 24px;
}
.pseudo::selection {
   background: pink;
}
.pseudo::before {
    content: "...";
}

.pseudo::after {
    content: "***";
} */

/* 
.block1 {
    width: 300px;
    height: 300px;
    background-color: rgb(192, 23, 23);
    border: 3px solid black;
    border-radius: 10px;
    position: relative;
    left: 100px;
    top: 100px;

} */
.block2 {
    width: 500px;
    height: 500px;
    background-color: rgb(192, 23, 23);
    border: 3px solid black;
    border-radius: 10px;
    position: relative;


}

.block2_sub {
    width: 150px;
    height: 150px;
    border: 1px dashed gold;
}
.block2_sub:nth-child(1){
    background: green;
    position: relative;
    left: 50px;
    z-index: 2;
}
.block2_sub:nth-child(2){
    background: #1e04b2;
    position: absolute;
    left: 30px;
    top: 50px;
    z-index: 1;
}
.block2_sub:nth-child(3){
    background: rgb(100, 8, 157);
    position: relative;
    top: 30px;
    z-index: 0;
}


.block3 {
    width: 500px;
    height: 500px;
    background-color: rgb(192, 23, 23);
    border: 3px solid black;
    border-radius: 10px;
    position: relative;
    margin: 50px;
    font-size: 40px;
    padding: 30px;

}

.block4 {
    width: 500px;
    height: 500px;
    background-color: rgb(192, 23, 23);
    border: 3px solid black;
    border-radius: 10px;
    position: relative;
    margin: 50px;

}



.block5 {
    width: 90%;
    height: 90%;
    background-color: rgb(192, 23, 23);
    border: 3px solid black;
    border-radius: 10px;
    position: relative;
    margin: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    /* flex-flow: wrap; */
    /* align-content: flex-start; */
    justify-content: center;
    align-items: center;
    

}


.block5_sub {
    width: 100px;
    height: 100px;
    background-color: rgb(10, 103, 50);
    border: 1px solid gold;
    /* flex-grow: 1;
    flex-shrink: 1;
    */


}

/* .block5_sub:nth-child(3) {
    flex-grow: 5;
}
.block5_sub:nth-child(5) {
    flex-shrink: 3;
    flex-grow: 2;
} */


.block5_sub:nth-child(2) {
    align-self: flex-start;
 
}