html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.upper {
  font-weight: bold;
  font-size: 30px;
}

.pseudo::first-letter {
  font-weight: bold;
  font-size: 30px;
}

.pseudo::first-line {
  font-size: 24px;
}

.pseudo::selection {
  background-color: pink;
}

.pseudo::before {
  content: "...";
}

.pseudo::after {
  content: "***";
}

/* .block {
    width: 300px;
    height: 300px;
    background: red;
    border: 3px solid black;
    border-radius: 10px;
    position: relative;
    left: 20px;
    top: 20px;
} */

/* .block2 {
    width: 500px;
    height: 500px;
    background: red;
    border: 5px solid black;
    border-radius: 10px;
    position: relative;
} */

.block2_sub {
  width: 100px;
  height: 100px;
  border: 1px dashed gold;
}

.block2_sub:nth-child(1) {
  background: green;
  left: 50px;
  position: relative;
}

.block2_sub:nth-child(2) {
  background: blue;
  position: absolute;
  left: 30px;
  top: 60px;
  z-index: 1;
}

.block2_sub:nth-child(3) {
  background: purple;
  position: relative;
  top: 20px;
}

* {
  box-sizing: border-box;
}

.block3 {
  width: 500px;
  height: 500px;
  background: red;
  border: 3px solid black;
  border-radius: 10px;
  position: relative;
  margin: 50px;
  font-size: 40px;
  padding: 30px;
}

.block4 {
  width: 500px;
  height: 500px;
  background: red;
  border: 3px solid black;
  border-radius: 10px;
  position: relative;
  margin: 80px;
  margin-left: 20px;
  margin-right: 30px;
  font-size: 40px;
}

.block5 {
  width: 90%;
  height: 90%;
  background: red;
  border: 3px solid black;
  border-radius: 10px;
  position: relative;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
}

.block5_sub {
  width: 100px;
  height: 100px;
  background: green;
  border: 1px dashed gold;
  /* flex-grow: 1;
    flex-shrink: 1; */
    /* flex-grow=flex-direection + flex-wrap; */
}

/* .block5_sub:nth-child(3) {
    flex-grow: 3;
}

.block5_sub:nth-child(5){
    flex-shrink: 5;
}

.block5_sub:nth-child(4){
    flex-grow: 2;
    flex-shrink: 3;
} */

/* this is order */
.block5_sub:nth-child(2) {
  order: 1;
}

.block5_sub:nth-child(3) {
    order: -1;
  }

.block5_sub:nth-child(4) {
    order: 1;
  }

.block5_sub:nth-child(5) {
    order: 2;
  }
