table,
td,
th {
  border: 1px solid grey;
  border-collapse: collapse;
  text-align: center;
}
#mytable {
  color: orange;
}
.myclass {
  background: rgb(194, 204, 122);
}

ul.info > li {
  list-style: none;
}
ul.info > li li:nth-child(2) {
  list-style: none;
}

ol li a {
    text-decoration: none;
}

ol li a[target="_blank"] {
    color: rgb(38, 175, 36);
}

ol li a[href="https://google.com"] {
    color: rgb(122, 14, 164);
}

ol li a[href*="google"] {
    color: rgb(20, 6, 6);
}

ol li a[href^="http"] {
    color: rgb(135, 21, 21);
}

/* ol li a[href$=".com"] {
    background-color: rgba(45, 45, 131, 0.42);
} */

ol li a[href*="google"][href$=".com.au"] {
    background-color: rgba(45, 131, 75, 0.42);
}